version: "2"

services:
  collector:
    image: ghcr.io/solectrus/renault-collector:latest
    environment:
      - RENAULT_EMAIL
      - RENAULT_PASSWORD
      - RENAULT_INTERVAL
      - RENAULT_MODEL
      - GIGYA_API_KEY
      - KAMEREON_API_KEY
      - INFLUX_HOST
      - INFLUX_TOKEN
      - INFLUX_ORG
      - INFLUX_BUCKET
    command: bundle exec app/main.rb
    restart: unless-stopped
